{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Tutoria{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-5">
                    {% if tutor.avator %}
                                      <img class="img-rounded" src="{{ tutor.avator.url }}">
                    {% else %}
                    <p class="text-center">No Avator</p>
                    {% endif %}
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <h2 class="text-center">Detail</h2>
                    <br>
                    <h3>Name </h3>
                        <h5>{{ tutor.first_name }} {{tutor.last_name }}</h5>
                    <h3>Type</h3>
                        <h5>{{ tutor.tutor_type }}</h5>
                    <h3>Biography</h3>
                        <h5> {{ tutor.bio }} </h5>
                    <h3>Hourly Rate</h3>
                        <h5> {{ tutor.hourly_rate }} </h5>
                    <h3>Tags</h3>
                        {% for tag in tutor.tags.all %}
                        <h5> {{ tag.tag }} &nbsp; </h5>
                        {% endfor %}
                    <h3>Courses</h3>
                        {% for course in tutor.courses.all %}
                        <h5> {{ course.course_name }} &nbsp; {{ course.course_code }} </h5>
                        {% endfor %}
                    <h3>Available Sessions</h3>
                        <table>
                        {% for session in tutor.session_set.all %}
                        {% if session.status == 'A' %}
                        <tr>
                          <td> [{{ forloop.counter }}] </td>
                            <td> &nbsp; </td>
                          <td><h5> {{ session.start_time }} </td></h5>
                            <td> &nbsp; </td>
                          <td><h5> {{ session.end_time }} </td></h5>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
