{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Tutoria{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-5">
                    {% if tutor_set.all %}
                        <div id="carousel-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                {% for img in book.img_set.all %}
                                    <li data-target="#carousel-generic" data-slide-to="{{ forloop.counter0 }}"
                                        {% if forloop.first %}class="active"{% endif %}></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                {% for img in book.img_set.all %}
                                    <div {% if forloop.first %}class="item active"{% else %}class="item"{% endif %}>
                                        <img class="img-rounded" src="{% url 'media' img.img %}">
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    {% else %}
                    <p class="text-center">No Avator</p>
                    {% endif %}
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <h2 class="text-center">Detail</h2>
                    <br>
                    <h3>Name </h3>
                        <h5>{{ tutor.user.first_name }} {{tutor.user.last_name }}</h5>
                    <h3>Type</h3>
                        <h5>{{ tutor.tutor_type }}</h5>
                    <h3>Biography</h3>
                        <h5> {{ tutor.bio }} </h5>
                    <h3>Hourly Rate</h3>
                        <h5> {{ tutor.hourly_rate }} </h5>
                    <h3>Tags</h3>
                        {% for tag in tutor.tags.all %}
                        <h5> {{ tag.tag }} &nbsp; </h5>
                        {% endfor %}
                    <h3>Courses</h3>
                        {% for course in tutor.courses.all %} 
                        <h5> {{ course.course_name }} &nbsp; {{ course.course_code }} </h5>
                        {% endfor %}
                    <h3>Sessions</h3>
                        {% for session in tutor.sessions.all %}
                        <h5> start_time : {{ session.start_date }} &nbsp; {{ session.start_hour }}:{{ session.start_minute }} </h5>
                        <h5> status : {{ session.status }} </h5>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
