{% extends "base.html" %} {% load staticfiles %} {% block title %}Tutoria{% endblock %} {% block content %} 

<div class="container">
  <div class="row">
    <div class="col-md-11 col-md-offset-1">
      <div class="col-md-11">
       {% if not_logged_in == 'true' %}
       <center><h2>Please Log In First!</h2></center>
       {% else %}

        {% if id == 'selected' %}
          <table class="table table-hover" width="80%">
          <thead>
            <tr>
              <th>#</th>
              {% if selected_type == 'as_stu' %}<th>Tutor</th>{% else %}<th>Student</th>{% endif %}
              <th>Type</th>
              <th>Contact</th>
              <th>Start time</th>
              <th>End time</th>
              <th>Hourly rate</th>
              <th>Commission</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              {% if selected_type == 'as_stu' %}
              <td>
                <center>
                <img class="img-rounded" width=128px src="{{ record.tutor.avatar.url }}"><br>
                </center>
                <center>
                  <a href="{% url 'tutor:detail' record.tutor.id %}">{{ record.tutor.first_name }}
                                      {{record.tutor.last_name }}</a>
                </center>
              </td>
              {% else %}
              <td>{{ record.student.first_name }} {{ record.student.last_name }}</td>
              {% endif %}


              <td>
                {% if record.tutor.tutor_type == 'CT' %} Contracted Tutoring {% else %} Private Tutoring {% endif %}
              </td>
              {% if selected_type == 'as_stu' %}<th>{{ record.tutor.phone }}</th>{% else %}<th>{{ record.student.phone }}</th>{% endif %}

              <td>{{record.session.start_time}}</td>
              <td>{{record.session.end_time}}</td>
              <td>{{record.tutor.hourly_rate }}</td>
              <td>{{record.transaction.commission }}</td>
              {% if selected_type == 'as_stu' %}
              <td> {% if record.status == 'F' %}Finished{% elif record.status == 'C' %}Canceled{% elif record.status == 'O' %}On-going{% else %}      <form action="{% url 'dashboard:mybookings'%} " method="POST" onsubmit="return confirm('Do you really want to cancel this session?');">
                    {% csrf_token %}
                    <button type="submit" name="booking_id" value={{record.id}}>Cancel</button>
                   </form>
                {% endif %}
              </td>
              {% else %}<td> {% if record.status == 'F' %}Finished{% elif record.status == 'C' %}Canceled{% elif record.status == 'O' %}On-going{% else %}Up-coming{% endif %}</td>
              {% endif %}             
            </tr>
          </tbody>
          </table>

          <th><center><h2><a href=" {% url 'dashboard:mybookings' %}">View all my bookings</a></h2></center></th>
        


        {% else %}
        {% if is_student == 'true' %}
        <tr><h2>My bookings as a student</h2></tr>
        <table class="table table-hover" width="80%">
          <thead>
            <tr>
              <th>#</th>
              <th>Tutor</th>
              <th>Type</th>
              <th>Contact</th>
              <th>Start time</th>
              <th>End time</th>
              <th>Hourly rate</th>
              <th>Commission</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for record in records_as_stu %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>
                <center>
                <img class="img-rounded" width=128px src="{{ record.tutor.avatar.url }}"><br>
                </center>
                <center>
                  <a href="{% url 'tutor:detail' record.tutor.id %}">{{ record.tutor.first_name }}
                                      {{record.tutor.last_name }}</a>
                </center>
              </td>


              <td>
                {% if record.tutor.tutor_type == 'CT' %} Contracted Tutoring {% else %} Private Tutoring {% endif %}
              </td>
              <th>{{ record.tutor.phone }}</th>

              <td>{{record.session.start_time}}</td>
              <td>{{record.session.end_time}}</td>
              <td>{{record.tutor.hourly_rate }}</td>
              <td>{{record.transaction.commission }}</td>
              <td> {% if record.status == 'F' %}Finished{% elif record.status == 'C' %}Canceled{% elif record.status == 'O' %}On-going{% else %}      <form action="{% url 'dashboard:mybookings'%} " method="POST" onsubmit="return confirm('Do you really want to cancel this session?');">
                    {% csrf_token %}
                    <button type="submit" name="booking_id" value={{record.id}}>Cancel</button>
                   </form>
                {% endif %}
              </td>              
            </tr>
            {% empty %}
            <tr>
              <td>No bookings found =(</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
        {% endif %}


        {% if is_tutor == 'true' %}
        <tr><h2>My bookings as a tutor</h2></tr>
        <table class="table table-hover" width="80%">
          <thead>
            <tr>
              <th>#</th>
              <th>Student</th>
              <th>Type</th>
              <th>Contact</th>
              <th>Start time</th>
              <th>End time</th>
              <th>Hourly rate</th>
              <th>Commission</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for record in records_as_tut %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{ record.student.first_name }} {{ record.student.last_name }}</td>

              <td>
                {% if record.tutor.tutor_type == 'CT' %} Contracted Tutoring {% else %} Private Tutoring {% endif %}
              </td>
              <th>{{ record.student.phone }}</th>
              <td>{{record.session.start_time}}</td>
              <td>{{record.session.end_time}}</td>
              <td>{{record.tutor.hourly_rate }}</td>
              <td>{{record.transaction.commission }}</td>
              <td> {% if record.status == 'F' %}Finished{% elif record.status == 'C' %}Canceled{% elif record.status == 'O' %}On-going{% else %}Up-coming{% endif %}</td>
            </tr>
            {% empty %}
            <tr>
              <td>No bookings found =(</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
          {% endif %}
          {% endif %}
          {% endif %}
      </div>
    </div>
  </div>
</div>
 {% endblock %}
