{% extends "base.html" %} {% load staticfiles %} {% block title %}Tutoria{% endblock %} {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h3>Tutor Timetable</h3>
                <table class="" border="1" cellpadding="0">
                    <tbody>
                        <tr>
                            <td>Tutor Table</td>
                            {% for i in "xxxxxxxxxxxxxxxxxxxxxxxx" %}
                            {% if tutor.tutor_type == 'PT' %}
                            <td colspan="1">
                            {% else %}
                            <td colspan="2">
                            {% endif %}
                            {% if forloop.counter0 < 10 %}
                                0{{ forloop.counter0 }}:00
                            {% else %}
                                {{ forloop.counter0 }}:00
                            {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                        {% for grid in timetable %}
                        {% if tutor.tutor_type == 'PT' and forloop.counter0|divisibleby:24 or tutor.tutor_type == 'CT' and forloop.counter0|divisibleby:48 %}
                        <tr class="slots">
                            <td class="resourcename">
                                {{ grid.date }}
                            </td>
                        {% endif %}
                        {% if grid.status == 'A' %}
                            <td colspan="1" class="bg-success">
                                <form id="book-{{ grid.id }}" method="post" action="{% url 'dashboard:mytimetable' %}">
                                {% csrf_token %}
                                <div onclick="document.getElementById('book-{{ grid.id }}').submit();">
                                    <input type="hidden" name="session_id" value="{{ grid.id }}">&nbsp;
                                </div>
                                </form>
                            </td>
                        {% elif grid.status == 'B' %}
                            <td colspan="1" class="bg-primary">
                                <form id="book-{{ grid.id }}" method="get" action="{% url 'dashboard:mybookings' %}">
                                <div onclick="document.getElementById('book-{{ grid.id }}').submit();">
                                    <input type="hidden" name="id" value="{{ grid.id }}">&nbsp;
                                </div>
                                </form>
                            </td>

                        {% elif grid.status == 'X' %}
                            <td colspan="1" class="bg-info">
                                <form id="book-{{ grid.id }}" method="post" action="{% url 'dashboard:mytimetable' %}">
                                {% csrf_token %}
                                <div onclick="document.getElementById('book-{{ grid.id }}').submit();">
                                    <input type="hidden" name="session_id" value="{{ grid.id }}">&nbsp;
                                </div>
                                </form>
                            </td>

                        {% endif %}
                        {% if tutor.tutor_type == 'PT' and forloop.counter|divisibleby:24 or tutor.tutor_type == 'CT' and forloop.counter|divisibleby:48 %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div>
  {% endblock %}
