{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Tutoria{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 well">
                <h2>&emsp;&emsp;Search</h2>
                <form action="{% url 'search:result' %}"
                  method="GET" role="form" class="form-horizontal">
                  <div class="form-group">
                    <div class="col-md-12">
                       <input type="text" class="form-control" name="keywords"
                        autofocus placeholder="Software Engineering">
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
