{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Tutoria{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
              <h1 class="form-signin-heading text-center">Sign Up</h1>
              {% if status == SIGNUP_STATUS.SUCCESS %}
                <h5> Sign-up successful </h5>
              {% elif status == SIGNUP_STATUS.FAILED %}
                <h5> Sign-up failed </h5>
              {% elif status == SIGNUP_STATUS.EXISTED %}
                <h5> User existed </h5>

              {% else %}
                {% if choice %}
                <form action="{% url 'auth:student' %}" class="form-horizontal">

                    <div class="form-group">
                      <div class="col-md-4 col-md-offset-4">
                        <button class="btn btn btn-primary btn-block" type="submit" id="">I am A Student</button>
                      </div>
                    </div>
                </form>

                <form action="{% url 'auth:tutor' %}" class="form-horizontal">
                    <div class="form-group">
                      <div class="col-md-4 col-md-offset-4">
                        <button class="btn btn btn-primary btn-block" type="submit" id="">I am A Tutor</button>
                      </div>
                    </div>
                </form>

                <form action="{% url 'auth:both' %}" class="form-horizontal">
                    <div class="form-group">
                      <div class="col-md-4 col-md-offset-4">
                        <button class="btn btn btn-primary btn-block" type="submit" id="">I am Both</button>
                      </div>
                    </div>
                </form>

                {% else %}
                  {% if user_form is not None %}

                 <form method="POST" role="form" class="form-horizontal">
                    {% csrf_token %}

                    <div class="form-group">
                      <div class="col-md-9">
                        <table>
                          {{ user_form.as_p }}
                          {% if tutor_form is not None %}
                            {{tutor_form.as_p}}
                          {% endif %}
                        </table>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-4 col-md-offset-4">
                        <button class="btn btn btn-primary btn-block" type="submit" id="submit">Sign Up</button>
                      </div>
                    </div>
                </form>

                {% endif %}
              {% endif %}
            {% endif %}
           </div>
        </div>
    </div>

{% endblock %}

{% block js %}
{% if tutor_form is not None %}
	<script type="text/javascript">

  function set_hourly_rate_visibility(visible=false) {
    if(visible) {
      $('#id_tutor_form-hourly_rate').show();
      $('label[for="id_tutor_form-hourly_rate"]').show();
    } else {
      $('#id_tutor_form-hourly_rate').hide();
      $('label[for="id_tutor_form-hourly_rate"]').hide();
    }
  }

  $(document).ready(function() {
    set_hourly_rate_visibility(false);
    $('input:radio[name="tutor_form-tutor_type"]').change(function(){
      set_hourly_rate_visibility($('#id_tutor_form-tutor_type_1').prop('checked'));
    });
  });

	</script>
{% endif %}
{% endblock %}
