<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{dede:field.title/} - {dede:global.cfg_webname/}</title>
<meta name="keywords" content="{dede:field.keywords/}" />
<meta name="description" content="{dede:field.description function='html2text(@me)'/}" />
<link href="/statics/style/conent.css" rel="stylesheet" media="screen" type="text/css" />
<link rel="alternate" type="application/rss+xml" href="/rss.php" title="{dede:global.cfg_webname/}" />
<script language="javascript" type="text/javascript" src="/statics/js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="/statics/js/myjs.js"></script>
<script language="javascript" type="text/javascript" src="/include/dedeajax2.js"></script>
<script language="javascript" type="text/javascript">
<!--
	function CheckLogin(){
	  var taget_obj = document.getElementById('_userlogin');
	  myajax = new DedeAjax(taget_obj,false,false,'','','');
	  myajax.SendGet2("{dede:global.cfg_cmspath/}/member/ajax_loginsta.php");
	  DedeXHTTP = null;
	}
-->
</script>
</head>
<body class="detail">
{dede:include filename="head.htm"/}
<div class="night_con_bg">
<div class="wrapbox">
  <div class="mainbox bd1">
